* {
  border: 0;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;

  width: 55vw;
  height: auto;

  border-radius: 10px;

  .icon {
    fill: var(--black);
    margin-bottom: 25px;
  }

  section {
    input { 
      padding: 1rem;
      margin-right: 1.5rem;
    }
  
    button {
      padding: 1rem 2.5rem 1rem 2.5rem;
      font-weight: bold;
      background: var(--cyan);
      color: var(--text);
    }
  }
}



