.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0;

  width: 35rem;
  height: auto;
  background: var(--background);

  box-shadow: 0px 50px 70px -20px rgba(0, 0 ,0, 0.5);

  // &:hover {
  //   border: 1px solid #fff;
  // }

  img {
    width: 12.5rem;
    height: 12.5rem;
    margin-right: 1rem;
    border-radius: 50%;

    border: 3px solid #E5E5E5;

  }
}

.data {
  display: flex;
  flex-direction: column;
  height: 12.5rem;

  justify-content: space-around;
  font-size: 1.125rem;

  // font-family: Anonymous Pro;
  color: var(--white);
  font-weight: bold;

  h1 {
    font-size: 1.5rem;
  }

  section {
    display: flex;
    flex-direction: row;

    > span {
      margin-right: 1rem;
    }
  }
  
}